<header class="site-navbar">
  <nav class="">
    <ul class="no-bullets">
      <li class="nav_item">
        <a href="https://www.tenderisthebyte.com/">Blog</a>
      </li>

      <li class="nav_item">
        <a href="https://github.com/mooreryan/">GitHub</a>
      </li>

      <li class="nav_item">
        <a href="https://orcid.org/0000-0003-3337-8184">ORCiD</a>
      </li>

      <li class="nav_item">
        <a href="https://www.twitter.com/TenderIsTheByte">Twitter</a>
      </li>
    </ul>
  </nav>
</header>